<div class="form">
  <form action="/artist" method="post" id="main-form">
    <input type="text" name="query" id="query" placeholder="Type artist name...">
    <input type="submit" value="Search for an Artist">
  </form>
</div>